{% extends "::base.html.twig" %}

{% block title %}BandMergerBundle:Instrument:Edit{% endblock %}

{% block body %}
<h1>Edit Instrument</h1>
<div class="band panel panel-default">
{{form_start(form)}}
{{form_widget(form)}}
<input type="submit" style="color:black" value="Add"></input>
{{form_end(form)}}
</div>
{% endblock %}
