{% extends "::base.html.twig" %}

{% block title %}BandMergerBundle:Band:create{% endblock %}

{% block body %}
<h1>Edit project</h1>

<div class="band panel panel-default">
{{form_start(form)}}
{{form_widget(form)}}
<br>
<input style="color:black" type="submit" value="Create"></input>
{{form_end(form)}}
</div>
{% endblock %}
